{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/5b90cf84ef.js" crossorigin="anonymous"></script>
</head>

<div class="flex-column-center login-page">
    <a href="{% url 'home:home' %}"><img src="{% static 'logo/taltal_logo.PNG' %}" alt="taltal_logo"></a>
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div>{{form.as_p}}</div>
        <!-- <div>{{form.email}}{{form.ValidationError}}</div>
        <div>{{form.password}}</div> -->        
        <button class="login-button">로그인(Log In)</button>
    </form>
<div class="password-signup"><a href="{% url 'users:request-password' %}">비밀번호 찾기</a><span>|</span><a href="{% url 'users:signup' %}">회원가입</a></div>
{% include 'users/social_login.html' %}
<hr>
</div>




