{% extends 'base.html' %}

{% block login-signup %}
<div class="list-body">
    <div class="reset-password-description">가입하신 이메일로 비밀번호를 재설정 할 수 있는 링크를 보내드립니다.</div>
    <form action="{% url 'users:request-password' %}" method="post">
        {% csrf_token %}
        
        <input type="email" name="email" placeholder="Email" id="emailField" value="{{values.email}}" class="login-form reset-password-input" />
        <button class="login-button">인증 이메일 보내기</button>
    </form>
</div>
{% endblock login-signup %}