{% extends 'base.html' %}

{% block login-signup %}
<div class="list-body">
  <form class="reset-password-form"action="{% url 'users:reset-user-password' uidb64 token %}" method="post">
    {% csrf_token %}
    <div><input class="login-form" type="password" name="password" placeholder="새비밀번호" id="passwordField" /></div>
    <div><input class="login-form" type="password" name="password1" placeholder="새비밀번호 확인" id="passwordField" /></div>
    <button class="login-button">비밀번호 변경</button>
  </form>
</div>
{% endblock login-signup %}