{% extends "base.html" %}

{% block content %}
<div class="list-body center">
  <h2>비밀번호 변경</h2>
  {% if request.user.login_method == "email" %}
  <form method="POST">
    {% csrf_token %}
      <div>{{form.old_password}}</div>
      {% if form.old_password.errors %}
      <div class="creating">현재 비밀번호를 다시 확인해주세요.</div>
      {% endif %}
      <div>{{form.new_password1}}</div>
      <div>{{form.new_password2}}</div>
      {% if form.new_password2.errors %}
      <div class="creating">새비밀번호를 다시 확인해주세요.</div>
      {% endif %}
      <div class="text-center">
      <h4>비밀번호 변경이 안될 경우 확인</h4>
      <ul>
        <li>개인정보와 유사하면 안됩니다.</li>
        <li>8자 이상이어야 합니다.</li>
        <li>문자를 포함해야 합니다.</li>
        <li>너무 단순하지 않게 (예:ab123456)</li>
      </ul>
      <button class="login-button">비밀번호 변경</button>
      </div>
  </form>
  {% else %}
  <div>비밀번호 변경 불가: 다른 경로로 가입하신 아이디입니다.</div>
  {% endif %}
      
</div>
{% endblock content %}
