{% extends 'base.html' %}
{% block content %}
<div class="list-body">
    {{payment.payments.all}}
    
    {% if payment.payments.all %}
        <h3>장바구니 결제취소</h3>
        <h4>장바구니로 결제된 다른 상품과 함께 결제 취소를 하셔야 합니다. <br>필요하신 물품은 결제 취소후 다시 구매 부탁드립니다.</h4>
        <div><span>장바구니주문번호</span><span>{{payment.merchant_uid}}</span></div>
        {% for p in payment.payments.all %}
            <div class="flex">
                <div>
                    <img src="{{p.item.first_photo}}" alt="{{p.item.name}}" width="100px" heigh="100px">
                </div>
                <div>
                    <div>{{p.item.name}}</div>
                    <div>{{p.item.price}}원 * {{p.item_count}}개</div>
                    <div>배송비 {{p.deli_fee}}원</div>
                </div>
            </div>
        {% endfor %}
        <div>
            <div>환불정보</div>
            <div><span>상품금액</span><span></span></div>
            <div><span>배송비</span><span></span></div>
            <div><span>반품비</span><span></span></div>
            <hr>
            <div><span>환불 예상금액</span><span></span></div>
            <div><span>환불 수단</span><span></span></div>
        </div>
    {% else %}
        <h3>개별상품 결제취소</h3>
        <div>{{payment.merchant_uid}}</div>
    {% endif %}
        
</div>
{% endblock content %}